
<style>
  .alert,.notice{
    display:none;
  }
</style>
<div class="form-container">
<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   <div class="field">
   <%= f.label :Select_Group %></br>
   <%= f.select(:group, options_for_select([['A','A'],['B','B'],['C','C'],['D','D']])) %>
  </div>
  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :parent_name %><br>
    <%= f.text_field :parent_name, :required => true %>
  </div>
  <div class="field">
    <%= f.radio_button(:sex, "Male") %>
    <%= f.label(:male, "Male", :value => "male") %>
    <%= f.radio_button(:sex, "Female") %>
    <%= f.label(:male, "Female", :value => "female") %>  
  </div>
  <div class="field">
    <%= f.label :dob %><br>
    <%= f.date_select :dob, :required => true %>
  </div>
  <div class="field">
    <%= f.label :street_address %><br>
    <%= f.text_field :street_address, :required => true %>
  </div>
  <div class="field">
    <%= f.label :state %><br>
    <%= f.text_field :state, :required => true %>
  </div>
  <div class="field">
    <%= f.label :pincode %><br>
    <%= f.text_field :pincode, :required => true %>
  </div>
  <div class="field">
    <%= f.label :ph_landline %><br>
    <%= f.text_field :ph_landline %>
  </div>
  <div class="field">
    <%= f.label :ph_mobile %><br>
    <%= f.text_field :ph_mobile %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email, :required => true %>
  </div>
  <div class="field">
    <%= f.label :class %><br>
    <%= f.text_field :current_class, :required => true %>
  </div>
  <div class="field">
    <%= f.label :school_name %><br>
    <%= f.text_field :school_name, :required => true %>
  </div>
  <div class="field">
    <%= f.label :school_street_address %><br>
    <%= f.text_field :school_street_address, :required => true %>
  </div>
  <div class="field">
    <%= f.label :school_state %><br>
    <%= f.text_field :school_state, :required => true %>
  </div>
  <div class="field">
    <%= f.label :school_pincode %><br>
    <%= f.text_field :school_pincode, :required => true %>
  </div>
  <div class="field">
    <%= f.label :school_phone %><br>
    <%= f.text_field :school_phone, :required => true %>
  </div>
  <div class="field">
    <%= f.label :school_principal %><br>
    <%= f.text_field :school_principal, :required => true %>
  </div>
  <div class="field">
  <label>Please, tick mark the correct option of your knowledge about this A.I.T.S-Examination</label>
   <%= f.select(:aits_knowledge, options_for_select([['From School through Poster/Prospectus',"From School through Poster/Prospectus"],['Teacher','Teacher'],['Friend/Relative','Friend/Relative'],['Advertisement','Advertisement']])) %>
  </div>
  <div class="field">
    <%= f.label :optional_centre_1 %><br>
    <%= f.text_field :optional_centre_1 %>
  </div>
  <div class="field">
    <%= f.label :optional_centre_2 %><br>
    <%= f.text_field :optional_centre_2 %>
  </div>
  <div class="field">
    <%= f.label :optional_centre_3 %><br>
    <%= f.text_field :optional_centre_3 %>
  </div>
  <div class="field">
    <%= f.label :optional_centre_4 %><br>
    <%= f.text_field :optional_centre_4 %>
  </div>
  <div class="field">
    <%= f.label :fee_amount %><br>
    <%= f.text_field :fee_amount, :required => true %>
  </div>
  <div class="field">
    <%= f.label :draft_no %><br>
    <%= f.text_field :draft_no, :required => true %>
  </div>
  <div class="field">
    <%= f.label :bank %><br>
    <%= f.text_field :bank, :required => true %>
  </div>
  <div class="field">
    <%= f.label :branch %><br>
    <%= f.text_field :branch, :required => true %>
  </div>
  <div class="field">
    <%= f.label :draft_date %><br>
    <%= f.date_select :draft_date, :required => true %>
  </div>
  <div class="actions">
    <%= f.submit "Submit"%>
  </div>
<% end %>
</div>
